/* Hide NSFW content */
.blur {
    filter: blur(25px);
    pointer-events: none;
}

/* By default blug overflow go overflow container */
.gamejam .image {
    overflow: hidden
}

/* Gamejam image adjustements */
.gif-pos-middle {
    background-position: center;
}

.gif-pos-right {
    background-position: right;
}

.image-pos-right {
    object-position: right;
}

.image-pos-down {
    object-position: bottom;
}

.image-pos-up {
    object-position: top;
}

/* Gamejam container sizes and display */
.gamejam {
    width: 500px;
}

.gamejam img {
    width: 500px;
    height: calc(500px / 1.25);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

/* Make jam filters full-width on small screens */
@media (max-width: 1000px) {
    .jam-field {
        width: 100%;
    }

    .jam-field > select {
        width: 100%;
    }
}

/* Legend for project images */
legend {
    font-style: italic;
    font-weight: lighter;
    font-size: .8em;
}

/* Bulma issues */
/* https://github.com/jgthms/bulma/issues/2398#issuecomment-471254235 */
.gamejam:last-child
{
    margin-bottom: 1.5rem;
}

/* FAQ */
.answer {
    padding: 1em
}

.answer a:not(.button):hover {
    color: lightblue;
}