/* Variable declaration */
:root {
    --primary-light: #ccc;

    --border: 1px solid var(--primary-light);
    --border-radius: 10px;
}

/* Background & font */
html {
    background: #020024;
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(7, 16, 18, 1) 100%);
    
    font-family: "Quantico", sans-serif;
    color: var(--primary-light);
}

/* Generic components */
.container {
    display: block;
    width: 1000px;
    margin: 0 auto;

    border: var(--border);
    border-radius: var(--border-radius);
    padding: 5px;
    margin-bottom: 15px;
}
@media (max-width: 1000px) {
    .container {
        width: 98%;
    }
}

a {
    color: rgb(212, 117, 117);
    text-decoration: underline;
    text-decoration-style: dotted;
}
a:hover {
    color: rgb(117, 166, 212);
    text-decoration: none;
}

.is-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

button {
    background-color: transparent;
    border: var(--border);
    border-radius: var(--border-radius);
    color: var(--primary-light);
    padding: 10px;
    cursor: pointer;
    font-family: "Quantico", sans-serif;
}
button:disabled {
    cursor: not-allowed;
    background-color: #282730;
}

/* Screen */
#screen-canvas {
    height: 500px;
    width: 100%;
}

#screen-container {
    position: relative;
}