/* Variable declaration */
:root {
    --primary-light: #ccc;
    --primary-background: #020024;

    --border: 1px solid var(--primary-light);
    --border-radius: 10px;
}

/* Background & font */
html {
    background: var(--primary-background);
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(7, 16, 18, 1) 100%);
    
    font-family: "Quantico", sans-serif;
    color: var(--primary-light);
}

/* Container components */
.fullscreen {
    display: block;
    width: 2000px;
    margin: 0 auto;
}
.container {
    display: block;
    width: 1000px;
    margin: 0 auto;

    padding: 5px;
    margin-bottom: 15px;
}
.box {
    border: var(--border);
    border-radius: var(--border-radius);
}
@media (max-width: 2000px) {
    .fullscreen {
        width: 98%;
    }
}
@media (max-width: 1000px) {
    .container {
        width: 98%;
    }
}

.card {
    width: calc(630px / 2);
    height: calc(500px / 2 + 100px);
}

.is-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.flex-center-hor {
    justify-content: center;
}

/* Others generic components */
.hidden {
    display: none;
}

a:not(.ignore) {
    color: rgb(212, 117, 117);
    text-decoration: underline;
    text-decoration-style: dotted;
    cursor: pointer;
}
a:hover:not(.ignore) {
    color: rgb(117, 166, 212);
    text-decoration: none;
}
a.ignore {
    text-decoration: none;
    color: var(--primary-light);
    cursor: default;
}

img {
    border-radius: var(--border-radius);
}

button {
    background-color: transparent;
    border: var(--border);
    border-radius: var(--border-radius);
    color: var(--primary-light);
    padding: 10px;
    cursor: pointer;
    font-family: "Quantico", sans-serif;
}
button:hover {
    background-color: #28273057;
}
button:disabled {
    cursor: not-allowed;
    background-color: #282730;
}
.button-icon {
    width: 46px;
    height: 46px;
}

.text-center {
    text-align: center;
}

/* Image effects */
.blur {
    filter: blur(20px);
    pointer-events: none;
}

/* Screen */
#screen-canvas {
    height: 500px;
    width: 100%;

    /* GB Studio */
    object-fit: contain;
    image-rendering: pixelated;
}

#screen-container {
    position: relative;
}

/* Gamejam */
.gamejam-img {
    height: calc(100% - 100px);
    overflow: hidden;
    border-radius: var(--border-radius);
}
.gamejam-img img {
    min-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-position: center;
    object-fit: cover;
}
.gamejam-img.top img { object-position: top; }
.gamejam-img.bottom img { object-position: bottom; }
.gamejam-img.left img { object-position: left; }
.gamejam-img.right img { object-position: right; }

.gamejam-name {
    height: 25px;
}

/* Intro */
#intro-top {
    margin-top: 30px;
    position: relative;
}

#intro-quote {
    position: absolute;
    top: -45px;
    right: 5px;
    width: 250px;

    font-size: 13px;
}

#intro {
    height: 185px;
    border-radius: var(--border-radius) 0 0 var(--border-radius);

    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--primary-light) transparent;
}

#intro.enlarged {
    height: 500px;
}

.katsis-highlight {
    color: #fa8fb3;
}

.sheep-img {
    height: 500px;
    width: 500px;
    position: relative;
}
.sheep-img img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
.sheep-img p {
    position: absolute;
    top: -5px;
    left: 10px;
    z-index: 1;
    color: var(--primary-background);
    background-color: #cccccccc;
    border-radius: var(--border-radius);
    padding: 0 5px;
}

/* Info */
#steam-replay img {
    width: 475px;
    height: auto;
}
@media (max-width: 475px) {
    #steam-replay img {
        width: 100%;
    }
}

/* Secrets */
.secret-quote {
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
}