/* Variable declaration */
:root {
    --primary-light: #ccc;
    --primary-background: #100f25;

    --border: 1px solid var(--primary-light);
    --border-radius: 10px;

    --bg-size: 20px;
    --bg-primary: #080814;
    --bg-line: #0f0f0f;
}

/* Background & font */
html, body {
    width: 100%;
}

html {
    color: var(--primary-light);
}

html, input, textarea {
    font-family: "Quantico", sans-serif;
}

body {
    margin: 0;

    /* https://stackoverflow.com/a/50277867 */
    background:
        radial-gradient(circle farthest-side at 0% 50%, var(--bg-primary) 23.5%, transparent 0) calc(var(--bg-size) * .7) var(--bg-size),
        radial-gradient(circle farthest-side at 0% 50%, var(--bg-line) 24%, transparent 0) calc(var(--bg-size) * .6129) var(--bg-size),
        linear-gradient(var(--bg-primary) 14%, transparent 0, transparent 85%, var(--bg-primary) 0)0 0,
        linear-gradient(150deg, var(--bg-primary) 24%, var(--bg-line) 0, var(--bg-line) 26%, transparent 0, transparent 74%, var(--bg-line) 0, var(--bg-line) 76%, var(--bg-primary) 0)0 0,
        linear-gradient(30deg, var(--bg-primary) 24%, var(--bg-line) 0, var(--bg-line) 26%, transparent 0, transparent 74%, var(--bg-line) 0, var(--bg-line) 76%, var(--bg-primary) 0)0 0,
        linear-gradient(90deg, var(--bg-line) 2%, var(--bg-primary) 0, var(--bg-primary) 98%, var(--bg-line) 0%)0 0 var(--bg-primary);
        background-size:calc(var(--bg-size) * 1.333) calc(var(--bg-size) * 2);
}

/* Container components */
.fullscreen {
    display: block;
    width: 2000px;
    margin: 0 auto;
}
.container {
    background-color: var(--primary-background);

    display: block;
    width: 1000px;
    margin: 0 auto;

    padding: 5px;
    margin-bottom: 15px;

    overflow: hidden;
}
.box {
    position: relative;
    border: var(--border);
    border-radius: var(--border-radius);
}
@media (max-width: 2000px) {
    .fullscreen {
        width: 98%;
    }
}
@media (max-width: 1000px) {
    .container {
        width: 98%;
    }
    #intro-top {
        width: 98%;
    }
}

.big-card {
    width: calc(630px / 3 * 2);
}

.card {
    width: calc(630px / 2);
}

.is-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.flex-center-hor {
    justify-content: center;
}
.flex-center-ver {
    align-items: center;
}
.flex-columns {
    display: flex;
    flex-direction: row;
}

/* Form components */
label {
    margin-right: 10px;
}

select,
::picker(select) {
  appearance: base-select;
  border-radius: 8px;
}

option:first-of-type {
  border-radius: 8px 8px 0 0;
}

option:last-of-type {
  border-radius: 0 0 8px 8px;
}

option:hover {
  background: plum;
}

/* Others generic components */
.hidden {
    display: none;
}

a:not(.ignore):not(.ignore-half):not(.nav-button) {
    color: rgb(212, 117, 117);
    text-decoration: underline;
    text-decoration-style: dotted;
    cursor: pointer;
}
a:hover:not(.ignore):not(.ignore-half):not(.nav-button) {
    color: rgb(117, 166, 212);
    text-decoration: none;
}
a.ignore {
    text-decoration: none;
    color: var(--primary-light);
    cursor: default;
}
a.ignore-half {
    color: var(--primary-light);
    text-decoration: underline;
    text-decoration-style: dotted;
    cursor: pointer;
}

img {
    border-radius: var(--border-radius);
}

button {
    background-color: transparent;
    border: var(--border);
    border-radius: var(--border-radius);
    color: var(--primary-light);
    padding: 10px;
    cursor: pointer;
    font-family: "Quantico", sans-serif;
}
button:hover {
    background-color: #28273057;
}
button:disabled {
    cursor: not-allowed;
    background-color: #282730;
}
.button-icon {
    width: 46px;
    height: 46px;
}

.text-center {
    text-align: center;
}

.mark {
    position: absolute;
    top: -50px;
    right: 20px;

    font-size: 50px;
    font-weight: bold;

    color: rgba(128, 128, 128, 0.1);

    text-transform: uppercase;
    pointer-events: none;
}

.youtube-embed {
    aspect-ratio: 16 / 9;
    width: 800px;
}
@media (max-width: 800px) {
    .youtube-embed {
        width: 98%;
    }
}

.fit-width {
    width: 100%;
}

/* Navigation */
.nav-button {
    color: var(--primary-light);
    text-decoration: none;
    cursor: pointer;
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 10px;
}
.nav-button:hover {
    color: var(--primary-background);
    background-color: var(--primary-light);
}

/* Image effects */
.blur {
    filter: blur(20px);
    pointer-events: none;
}

/* Screen */
#screen-canvas {
    height: 100%;
    width: 100%;

    /* GB Studio */
    object-fit: contain;
    image-rendering: pixelated;
}

#screen-container {
    height: 500px;
    position: relative;
    height: 500px;
}

#screen-container.fullscreen {
    height: 1000px;
}

/* Screen (desktop) */
#screen-desktop {
    height: 500px;
    width: 100%;
}

#screen-desktop-display {
    height: 420px;
    width: calc(100% - 20px);
    resize: none;
    cursor: default;
    background-color: transparent;
    color: var(--primary-light);
    padding: 10px;
    border-radius: var(--border-radius);
    overflow-y: hidden;
}

#screen-desktop-input {
    height: 55px;
    display: block;

    margin-top: -4px;

    display: flex;
    align-items: center;
    gap: 5px;
}

#screen-desktop-input > input {
    height: 46px;
    width: calc(100% - 50px);
    background-color: transparent;
    color: var(--primary-light);
    border-radius: var(--border-radius);

    font-size: 20px;
    padding-left: 10px;
}

/* Project */
.project-img {
    overflow: hidden;
    border-radius: var(--border-radius);
    height: 400px;
}
.project-img img {
    margin-top: 10px;

    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.project-buttons {
    height: 100px;
    margin-top: 2px;
    margin-bottom: 2px;
}

/* Gamejam */
.gamejam-highlight {
    border-radius: var(--border-radius);
    background-color: #b99d2328;
}

.gamejam-img {
    height: calc(500px / 2);
    overflow: hidden;
    border-radius: var(--border-radius);
}
.gamejam-img img {
    min-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-position: center;
    object-fit: cover;
}
.gamejam-img.top img { object-position: top; }
.gamejam-img.bottom img { object-position: bottom; }
.gamejam-img.left img { object-position: left; }
.gamejam-img.right img { object-position: right; }

.gamejam-name {
    height: 25px;
}

.gamejam-event {
    height: 15px;
    line-height: 15px;
}

.gamejam-buttons {
    height: 50px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.gamejam-content {
    height: 150px;
    width: calc(630px / 2);
}

.gamejam-col {
    width: calc(630px / 4);
    flex-direction: column;
    flex-wrap: nowrap;
}

.gamejam-item {
    height: 40px;
    flex-direction: column;
    justify-content: center;
}

.gamejam-item > span {
    width: 24px;
}
.gamejam-item > p {
    width: 130px;
    margin: 0;
    overflow-y: hidden;
    line-height: 20px;
}

/* Goals (named boxes) */
.goal-box {
    padding: 10px;
}

.goal-box h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.goal-box-image {
    height: 200px;
}

.goal-box-image img {
    max-height: 100%;
    max-width: 100%;
}

.goal-card {
    width: 303px;
}

/* Intro */
#intro-top {
    display: block;
    width: 1000px;
    margin: 0 auto;
    height: 30px;

    position: relative;
}
@media (max-width: 1000px) {
    #intro-top {
        width: 98%;
    }
}

#intro-quote {
    position: absolute;
    top: -12px;
    right: 5px;
    width: 350px;

    font-size: 13px;
    z-index: 1;
    color: #999;
}

#intro {
    height: 185px;
    border-radius: var(--border-radius) 0 0 var(--border-radius);

    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--primary-light) transparent;
}

#intro.enlarged {
    height: 500px;
}

.katsis-highlight {
    color: #fa8fb3;
}

.sheep-img {
    height: 500px;
    width: 303px;
    position: relative;
}
.sheep-img img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
.sheep-img p {
    position: absolute;
    top: -5px;
    right: 10px;
    z-index: 1;
    color: var(--primary-background);
    background-color: #cccccccc;
    border-radius: var(--border-radius);
    padding: 0 5px;

    cursor: pointer;
}
.sheep-img p:hover {
    background-color: #cccccc8f;
}

/* Info */
#steam-replay img {
    width: 475px;
    height: auto;
}
@media (max-width: 475px) {
    #steam-replay img {
        width: 100%;
    }
}

/* Secrets */
.secret-quote {
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
}

/* Lifeline */
.lifeline {
    height: 50px;
    margin: 50px;
}