#screen-canvas {
    border: 1px solid rgba(255, 255, 255, 0.123);
}

/* https://github.com/jgthms/bulma/issues/2398 */
.card:last-child {
    margin-bottom: 1.5rem;
}

i > i {
    position: absolute;
    font-size: 50%;
}

#lore-network {
    height: 500px;
}

#steam img {
    max-width: 50%;
}
@media (max-width: 1000px) {
    #steam img {
        max-width: 100%;
    }
}

textarea {
    resize: none !important;
}

/* Leaflet map */
#map {
    height: 560px;
    width: 50%;
}

#map-container {
    display: flex;
    flex-flow: row;
    width: 100%;
}

#map-preview {
    max-width: 50%;
    max-height: 560px;
}

@media (max-width: 1000px) {
    #map-container {
        flex-flow: column;
    }

    #map {
        width: 100%;
        height: calc(560px / 2);
    }

    #map-preview {
        max-width: 100%;
        max-height: calc(560px / 2);
    }
}

/* Hide NSFW content */
.blur {
    filter: blur(25px);
    pointer-events: none;
}

/* Make sure preview window don't overflow */
.modal-content {
    width: 90%;
}

#image-preview {
    object-fit: contain;
}

/* By default blug overflow go overflow container */
.gamejam .image {
    overflow: hidden
}

/* Gamejam image adjustements */
.gif-pos-middle {
    background-position: center;
}

.gif-pos-right {
    background-position: right;
}

.image-pos-right {
    object-position: right;
}

.image-pos-down {
    object-position: bottom;
}

.image-pos-up {
    object-position: top;
}

/* Gamejam container sizes and display */
.gamejam {
    width: 500px;
}

.gamejam img {
    width: 500px;
    height: calc(500px / 1.25);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

/* Make jam filters full-width on small screens */
@media (max-width: 1000px) {
    .jam-field {
        width: 100%;
    }

    .jam-field > select {
        width: 100%;
    }
}

/* Legend for project images */
legend {
    font-style: italic;
    font-weight: lighter;
    font-size: .8em;
}

/* Bulma issues */
/* https://github.com/jgthms/bulma/issues/2398#issuecomment-471254235 */
.gamejam:last-child
{
    margin-bottom: 1.5rem;
}

option {
    color: white;
}

/* FAQ */
.answer {
    padding: 1em
}

#socials {
    margin-bottom: 2em;
    font-size: 1.75em;
}

.answer a:not(.button):hover, #socials a:hover {
    color: lightblue;
}

/* Project */
#target-main .card {
    width: 550px;
    height: 550px;
}

.menu-container img {
    cursor: pointer;
}

.home-main-image {
    height: 250px;
}

.project-image {
    display: block;
    width: auto;
    height: auto;
    max-height: 250px;
    cursor: pointer;
}

#target-main .is-flex:not(#socials) {
    gap: 10px;
}

#target-main .is-flex#socials {
    gap: 20px;
}

.menu-container {
    margin-top: 1em;
}

.menu-container img{
    max-height: 75px;
    max-width: calc(100% / 4);
    width: auto;
    height: auto;
    display: block;
}

.menu-container img:not(.selected) {
    filter: brightness(25%);
}

.menu-container img:not(.selected):hover {
    filter: brightness(40%);
}

.home-buttons {
    height: 50px;
}