[submodule "data"]
	path = data
	url = https://github.com/Xwilarg/zirk.eu-data
[submodule "lifeline"]
	path = lifeline
	url = https://github.com/Xwilarg/Lifeline
[submodule "lore"]
	path = lore
	url = https://github.com/Xwilarg/zirk.eu-lore
[submodule "sketch"]
	path = sketch
	url = https://github.com/Xwilarg/Sketch-build/
