*, textarea {
    font-family: "Aldrich", sans-serif;
}

body {
    padding-bottom: 2em;
}

.break {
    flex-basis: 100%;
    height: 0;
}

#main-intro {
    font-size: 1.2em;
    line-height: 1.75em;
    height: 400px;

    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--bulma-text) var(--bulma-background);
}

@media (max-width: 1215px) {
    #main-intro {
        line-height: 1.25em;
    }
}

.lifeline-static-container .is-flex {
    gap: 5px;
}

.lifeline-static-container .field {
    width: 100%; /* No idea why Bulma don't do that */
}

.social-no-url {
    padding-top: 0;
}

#screen-canvas {
    border: 1px solid rgba(255, 255, 255, 0.123);
}

#screen-off, #screen-on {
    position: relative;
}

#screen-power {
    position: absolute;
    bottom: 8px;
    right: 0;
    z-index: 1;
}

/* https://github.com/jgthms/bulma/issues/2398 */
.card:last-child {
    margin-bottom: 1.5rem;
}

i > i {
    position: absolute;
    font-size: 50%;
}

#steam img {
    max-width: 50%;
}
@media (max-width: 1000px) {
    #steam img {
        max-width: 100%;
    }
}

textarea {
    resize: none !important;
}

/* Leaflet map */
#map {
    height: 560px;
    width: 50%;
}

#map-container {
    display: flex;
    flex-flow: row;
    width: 100%;
}

#map-preview-container {
    max-width: 50%;
    height: 560px;
}

#map-preview {
    height: auto;
    max-height: 100%;
}

@media (max-width: 1000px) {
    #map-container {
        flex-flow: column;
    }

    #map {
        width: 100%;
        height: calc(560px / 2);
    }

    #map-preview-container {
        max-width: 100%;
        height: auto;
    }

    #map-preview {
        height: calc(560px / 2);
    }
}

/* Hide NSFW content */
.blur {
    filter: blur(25px);
    pointer-events: none;
}

/* Make sure preview window don't overflow */
.modal-content {
    width: 90%;
}

#image-preview {
    object-fit: contain;
}

/* By default blug overflow go overflow container */
.gamejam .image {
    overflow: hidden
}

/* Gamejam image adjustements */
.gif-pos-middle {
    background-position: center;
}

.gif-pos-right {
    background-position: right;
}

.image-pos-right {
    object-position: right;
}

.image-pos-down {
    object-position: bottom;
}

.image-pos-up {
    object-position: top;
}

/* Gamejam container sizes and display */
.gamejam {
    width: 500px;
}

.gamejam img {
    width: 500px;
    height: calc(500px / 1.25);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.gamejam .grid {
    row-gap: 5px;
}

.gamejam .grid p, .gamejam .grid .material-symbols-outlined {
    vertical-align: middle;
    line-height: 31px;
}

/* Make jam filters full-width on small screens */
@media (max-width: 1000px) {
    .jam-field {
        width: 100%;
    }

    .jam-field > select {
        width: 100%;
    }
}

/* Legend for project images */
legend {
    font-style: italic;
    font-weight: lighter;
    font-size: .8em;
}

/* Bulma issues */
/* https://github.com/jgthms/bulma/issues/2398#issuecomment-471254235 */
.gamejam:last-child
{
    margin-bottom: 1.5rem;
}

option {
    color: white;
}

/* FAQ */
.answer {
    padding: 1em
}

#card-intro .socials {
    height: 40px;
}

.socials {
    font-size: 1.75em;
}

.answer a:not(.button):hover, .socials a:hover, #main-intro a:hover {
    color: lightblue;
}

/* Project */
@media (max-width: 550px) {
    #widescreen {
        display: none;
    }
}

#target-main .card, #pinned-sketch .card {
    width: 550px;
    height: 550px;
}

#target-main .card.fullscreen-view, #pinned-sketch .card.fullscreen-view {
    width: auto;
    height: 85dvh;
}

#target-main-container {
    max-width: 100vw;
}

#card-sketch .card-content {
    height: 100%;
}

#screen-container {
    height: calc(100% - 50px);
}

#screen-on {
    height: 100%;
}

#unity-container {
    height: calc(100% - 80px);
}

#unity-buttons {
    max-height: 80px;
    overflow-y: auto;
}

.fullscreen-view {
    aspect-ratio: 16 / 10;
}

.project {
    max-width: calc(100% / 3 - 10px);
}

.menu-container img {
    cursor: pointer;
}

.home-main-image {
    height: 250px;
}

#target-project .is-flex {
    gap: 10px;
    margin-bottom: 50px;
}

#card-project .home-main-image > div, #card-project .project-image {
    max-height: 250px;
}

.project-image {
    display: block;
    width: auto;
    height: auto;
    max-height: 400px;
    cursor: pointer;
}

#target-main .is-flex:not(#socials) {
    gap: 10px;
}

#target-main .is-flex#socials {
    gap: 20px;
}

.menu-container {
    margin-top: 1em;
}

.menu-container img{
    max-height: 75px;
    max-width: calc(100% / 4);
    width: auto;
    height: auto;
    display: block;
}

.menu-container img:not(.selected) {
    filter: brightness(25%);
}

.menu-container img:not(.selected):hover {
    filter: brightness(40%);
}

.home-buttons {
    height: 50px;
}

#target-lore iframe {
    height: 560px;
}

#answer-lore-nehneh > .is-flex {
    gap: 5px;
}

/* Lore */
.lore-display {
    display: flex;
    flex-flow: row;
}

.lore-display-btns {
    width: 200px;
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;

    scrollbar-width: thin;
    scrollbar-color: var(--bulma-text) var(--bulma-background);
}

.lore-display button {
    width: 200px;
}

#lore-species-network {
    width: 600px;
    height: 600px;
    border: 1px solid #333;
}

#lore-world-text-container {
    width: calc(100% - 200px);
}

#lore-basics-flex {
    gap: 10px;
}

.lore-card-basics {
    width: 400px;
}

@media (max-width: 1000px) {
    .lore-display {
        flex-flow: column;
    }

    .lore-display > * {
        width: 100%;
    }

    #lore-world-text-container, #lore-species-network, #lore-species-text {
        width: 100%;
    }

    .vis-network {
        width: 100% !important;
    }
}

span[disabled] {
    cursor: default !important;
}

/* Bulma textarea sucks */
textarea {
    min-width: inherit !important;
}