<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Zirk</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta property="og:title" content="Zirk"/>
        
        <link rel="stylesheet" type="text/css" href="css/index.css"/>
    </head>
    <body>
    {% block content %}{% endblock %}
    </body>
</html>