<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ header.name }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta property="og:title" content="{{ header.name }}"/>

        {% for file in header.js %}
        <script src="js/{{ file }}.js"></script>
        {% endfor %}

        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"/>
        <link rel="stylesheet" type="text/css" href="css/base.css"/>
        {% for file in header.css %}
        <link rel="stylesheet" type="text/css" href="css/{{ file }}.css"/>
        {% endfor %}
    </head>
    <body>
    {% block content %}{% endblock %}
    </body>
</html>