{% extends 'base.html.twig' %}

{% block content %}
<div id="intro" class="container">
    <h1>Zirk</h1>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam imperdiet enim non commodo ullamcorper. Pellentesque pharetra placerat dolor, eget ultricies eros imperdiet non. Nullam ut tristique sapien.
</div>

<div class="flex flex-vertical">
    <h2>Games</h2>
    <div>
        Flex 1
    </div>
    <div>
        Flex 2
    </div>
</div>
{% endblock %}