{% extends 'base.html.twig' %}

{% block content %}
<div id="intro">
    <h1>Zirk</h1>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam imperdiet enim non commodo ullamcorper. Pellentesque pharetra placerat dolor, eget ultricies eros imperdiet non. Nullam ut tristique sapien.
</div>

<hr/>

<a href="gamejam.php">Gamejams</a>
{% endblock %}