<div class="container">
    <textarea class="textarea" id="lore-field" rows="10" readonly></textarea>
    <form class="field has-addons container" id="lore-form">
        <p class="control is-expanded">
            <input type="text" class="input" id="lore-input" />
        </p>
        <p class="control">
            <button class="button is-link" type="submit">Send</button>
        </p>
    </form>
    <p class="control">
        <button class="is-danger button" id="lore-delete">Delete local storage</button>
    </p>
    <p class="control">
        Censor names
        <input type="checkbox" id="lore-censor"/>
    </p>
    <div id="lore-network"></div>
</div>