<div class="container">
    <textarea class="textarea" id="lore-field" readonly></textarea>
    <form class="field has-addons container" id="lore-form">
        <p class="control is-expanded">
            <input type="text" class="input" id="lore-input" />
        </p>
        <p class="control">
            <button class="button is-link" type="submit">Send</button>
        </p>
    </form>
    <div id="lore-network"></div>
</div>