<div class="section">
    <h2 class="subtitle">Technical details</h2>
    <div class="button container question" id="contact">How can I contact you?</div>
    <div class="container is-hidden answer" id="answer-contact">
        The simpliest way for you to contact me is either by Discord at <code>zirk</code> or by mail at <a href="mailto:contact@zirk.eu">contact@zirk.eu</a><br>
        If you're feeling more adventurous, you can also check my others socials in the home tab
    </div>
    <div class="button container question" id="framework">What is this website made with?</div>
    <div class="container is-hidden answer" id="answer-framework">
        This website was made using <a href="https://twig.symfony.com/" target="_blank">Twig</a> for the structure and <a href="https://bulma.io/" target="_blank">Bulma</a> for the styling<br>
        The CSS also get a bit of help from <a href="https://www.npmjs.com/package/bulma-switch-control" target="_blank">Bulma Switch Control</a>, <a href="https://fonts.google.com/icons" target="_blank">Google material icons</a> and <a href="https://fontawesome.com/icons" target="_blank">Font Awesome icons</a><br/>
        It also have a small <a href="https://dotnet.microsoft.com/en-us/apps/aspnet" target="_blank">ASP.Net</a> backend for parts that are a bit more complex<br>
        The website is also built thanks to the following JavaScript library:
        <ul>
            <li><a href="https://www.npmjs.com/package/esbuild" target="_blank">esbuild</a></li>
            <li><a href="https://www.npmjs.com/package/leaflet" target="_blank">Leaflet</a></li>
        </ul>
        <br>
        I have been <a href="/data/img/website/v1.png" target="_blank">redoing</a> <a href="/data/img/website/v2.png" target="_blank">this</a> <a href="/data/img/website/v3.png" target="_blank">website</a> <a href="/data/img/website/v4.png" target="_blank">maybe</a> <a href="/data/img/website/v5.png" target="_blank">too</a> <a href="/data/img/website/v6.png" target="_blank">many</a> <a href="/data/img/website/v7.png" target="_blank">times</a><br>
        ...But this time I have a good structure and good framework so surely it should be the last... Right?<br>
        <br>
        Source code <a href="https://github.com/Xwilarg/zirk.eu" target="_blank">is available on GitHub</a><br>
        If you are interested by older versions, there are also repos for <a href="https://github.com/Xwilarg/zirk.eu-v7" target="_blank">V6/V7</a>, <a href="https://github.com/Xwilarg/zirk.eu-v5" target="_blank">V5</a> and <a href="https://github.com/Xwilarg/zirk.eu-old" target="_blank">older versions</a>
    </div>
    <div class="button container question" id="data">What info does this website collect?</div>
    <div class="container is-hidden answer" id="answer-data">
        This website is using <a href="https://github.com/Astylodon/Shika" target="_blank">Shika</a> for its analytics<br>
        You can see all the data collected <a href="https://astylodon.org/docs/shika/data" target="_blank">here</a>
    </div>
    <div class="button container question" id="credits">Who contributed to this website?</div>
    <div class="container is-hidden answer" id="answer-credits">
        For the list of libraries used to make this website, please check the two sections above<br/>
        Along with these, this website also use the <a href="https://fonts.google.com/specimen/Aldrich" target="_blank">Aldrich front by MADType</a> which is under the <a href="https://openfontlicense.org/open-font-license-official-text/" target="_blank">SIL Open Font License, Version 1.1 license</a><br/>
        Icons are either from <a href="https://fontawesome.com/" target"_blank">Font Awesome</a> or <a href="https://fonts.google.com/icons" target="_blank">Material Design Icons</a><br/>
        <br/>
        <ul>
            <li>Sheeps in intro are creditted under their images</li>
            <li>For Katsis projects, please check Katsis website for full credits list</li>
            <li>For Astylodon, please check <a href="https://github.com/orgs/Astylodon/people" target="_blank">our GitHub</a> for developer involved
        </ul>
        Projects full credits are available on their own GitHub page, some images might show some copyrighted assets for demo purposes<br/>
        Gamejams show credits in its filter sections, others people aren't shown for anonymity reason, but some gamejam contains a more complete credits section<br/>
        Images from Steam replay are generated from Steam
    </div>
    {% if not fullSfw %}
    <div class="button container question" id="nsfw">How to toggle sensitive content?</div>
    <div class="container is-hidden answer" id="answer-nsfw">
        {% if nsfw %}
            You are on the adult version of this website<br>
            <br>
            You can choose to go back on the all-age version by clicking here: <a class="button" href="?s=1">Disable mature content</a>
        {% else %}
            You are on the all-ages version of this website<br>
            <br>
            You can choose opt-in for mature content by clicking here: <a class="button" href="?s=0">Enable mature content</a>
        {% endif %}
    </div>
    {% endif %}
    <div class="button container question" id="other">Anything else?</div>
    <div class="container is-hidden answer has-text-centered" id="answer-other">
        <img loading="lazy" class="is-image" src="/img/potato.png"/>
    </div>
</div>
<div class="section">
    <h2 class="subtitle">Tell me more about...</h2>
    <div class="button container question" id="more-sketch">... sketches</div>
    <div class="container is-hidden answer" id="answer-more-sketch">
        What you see at first is just the """screensaver""" but if you click the power button at the bottom right, the real project will load!<br>
        <br>
        Sketches are a collection of small coding projects I made<br>
        Most of them are now separate modules, made to be easily taken by others projects, more information on that in the <a href="https://github.com/Xwilarg/Sketch" target="_blank">GitHub of the project</a><br/>
        Their original goal were to find a way to showcase cool things I did, trying to accentuate algorithm without relying too much on external assets (since I'm not super good at drawing and/or VFX)
        <br>
        The buttons at the bottom of the display can be used to switch between projects
    </div>
    <div class="button container question" id="more-gamejam">... gamejams</div>
    <div class="container is-hidden answer" id="answer-more-gamejam">
        Gamejams are events where you need to make a game given a duration and a set of constraints<br>
        Constraints are usually a theme but they can also be technical constraints (make a game for gameboy), thematic constraints (make a game given a theme) or anything else!
        <br/>
        Some gamejams can be directly be launched on an embedded player in this website by clicking the play button under them
    </div>
    <div class="button container question" id="more-lifeline">... lifelines</div>
    <div class="container is-hidden answer" id="answer-more-lifeline">
        Lifeline is a way to connect this website to someone else<br>
        There are 2 kinds of lifelines, dynamic and static<br>
        <br>
        <a href="https://github.com/Xwilarg/Lifeline" target="_blank">Dynamic lifeline</a> actually ensure a connection between two websites<br>
        When you press the "pull lines" button, it actually contact the other website and update the ID both here and there, ensuring that both websites are in communication<br>
        If you go to the other website, the ID there will be the same as displayed here!<br>
        <br>
        Dynamics lifelines however require the target user to have a website that can have a PHP backend, so statics lifelines are here where it's not the case!<br>
        They simply function by both users having a unique ID, once you enter the other user ID in the verification box, it validate that the two values combined give the expected result<br>
        This is simply done by combining the ID then computing a hash, comparing it to the expected value
    </div>
    <div class="button container question" id="more-travel">... travel</div>
    <div class="container is-hidden answer" id="answer-more-travel">
        A little map that display a bunch of location I went to, and photos I took there<br>
        Click on a pin to see the photo that was taken there!
    </div>
    <div class="button container question" id="more-outdated-projects">... outdated projects</div>
    <div class="container is-hidden answer" id="answer-more-outdated-projects">
        This section contains a bunch of small projects I started to do for this website but that are now in hold until I maybe go back to them later<br>
        <br>
        If you want to try the minipi one, feel free to gather them here:<br>
        <button class="button micropi" data-instruction="print">PRINT</button>
        <button class="button micropi" data-instruction="add">ADD</button>
        <button class="button micropi" data-instruction="remove">REMOVE</button>
    </div>
</div>