<div class="container">
    <div class="is-flex is-justify-content-space-evenly">
        <button class="button" id="lore-rhefir">Rhefir</button>
        <button class="button" id="lore-nehneh">???</button>
        <a class="button" target="_blank" href="https://minipi.zirk.eu/">Minipi</a>
    </div>
    <div class="container is-hidden" id="answer-lore-rhefir">
        <h2 class="subtitle">Base concepts</h2>
        <div id="lore-container">
            <div>
                {% for e in lore.world.data %}
                    <button class="btn-lore button" data-description="{{ e.description | join("<br/>") }}">{{ e.name }}</button>
                {% endfor %}
            </div>
            <textarea id="lore-text" rows="25" readonly>
            </textarea>
        </div>
    </div>
    <div class="container is-hidden" id="answer-lore-nehneh">
        <div class="is-flex is-justify-content-center is-flex-wrap-wrap">
            <iframe src="https://lore.katsis.net/embed.php?c=Wargo&s={% if nsfw %}0{% else %}1{% endif %}" scrolling="no"></iframe>
            <iframe src="https://lore.katsis.net/embed.php?c=Yräthea&s={% if nsfw %}0{% else %}1{% endif %}" scrolling="no"></iframe>
            <iframe src="https://lore.katsis.net/embed.php?c=Calindra&s={% if nsfw %}0{% else %}1{% endif %}" scrolling="no"></iframe>
        </div>
    </div>
</div>